@model DriftService.Models.MessageViewModel

@{
    ViewBag.Title = "Send message";
}

@Styles.Render("~/Content/css")

<div class="banner">
    <div class="banner-content">
        <h2><b>Send Message</b></h2>
    </div>
</div>

<div style="font-family:Arial">
@using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "SendMessageForm" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
               <div>
                    <h4><b>Enter subject</b></h4>
                    @Html.TextAreaFor(m => m.Subject, new { @class = "form-control TextboxSubject", @id="TbSubject" })
                    @Html.ValidationMessageFor(m => m.Subject, "", new { @style = "color:red" })
               </div>

                <div >
                    <h4><b>Enter message</b></h4>
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control TextboxMessage", @id="TbMessage" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @style = "color:red" })
                </div>
                <div id="divCounter"><em><span></span></em></div>
            </div>

            <div class="col-xs-6 col-md-6 col-lg-6" >              
                    <h4><b>Service type</b></h4>
                    @foreach (var item in Model.ServiceTypeList)
                    {
                        bool isChecked = false;
                        if (Model.SelectedServiceType != null)
                        {
                            if (Model.SelectedServiceType.Any(x => x == item.ServiceTypeID))
                            {
                                isChecked = true;
                            }
                        }
                        <div class="ServiceTypeBlock">
                            <center><p for="@item.Description">@item.Description</p></center>
                            <div class="ServiceTypeCheckBox">
                                <input type="checkbox" class="checkbox" name="SelectedServiceType" value="@item.ServiceTypeID" id="@item.ServiceTypeID" checked="@isChecked" />
                            </div>
                        </div>                      
                    }
            </div>
            <div class="text-danger">@ViewBag.NoServiceTypSelected</div>     
        </div>
        
    <div class="row">
        <div class="Float-Left" style="margin-right:10px">
            <h4><b>Notification type</b></h4>
            <div class="BorderBlack">
                <div class="row text-aligin-left margin-10px">
                    @Html.CheckBoxFor(m => m.SendSms)SMS
                </div>
                <div class="row text-aligin-left margin-10px">
                    @Html.CheckBoxFor(m => m.SendMail)Email
                </div>
                <div class="row text-aligin-left margin-10px">
                    @Html.CheckBox("webChk")Web
                </div>
            </div>
            <div class="text-danger">@ViewBag.NoNotificationTypeSelected</div>
            <div class="text-danger">@ViewBag.NoSubscribersMessage</div>
        </div>

        <div class="Float-Left">
            <h4><b>Language</b></h4>
            <div class="BorderBlack">
                    <div class="row text-aligin-left margin-10px">
                        @Html.RadioButtonFor(m => m.Language, "1", new { @checked = true }) <span>Swedish</span>
                    </div>
                    <div class="row text-aligin-left margin-10px">
                        @Html.RadioButtonFor(m => m.Language, "2") <span>English</span>
                    </div>
                    <div class="row text-aligin-left margin-10px">
                        @Html.RadioButtonFor(m => m.Language, "3") <span>German</span>
                    </div>
            </div>
        </div>
    </div>
        <br/>
        <div style="color:green"><b>@ViewBag.ConfirmationMessage</b></div>
        <div style="color:red">@ViewBag.Error</div>       

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 text-aligin-right ">
                   <input class="btn-default" type="submit" value="Send" id="BtnSendMessage" />
                    @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}
</div>



