@model IEnumerable<DriftService.Models.Contact>
<link rel="stylesheet" href="~/Content/StyleSheet.css" />
<link rel="stylesheet" href="~/Content/StyleSheetContactsTable.css" />

 <div class="banner">
    <div class="banner-content">
        <h2><b>Contacts</b></h2>
    </div>
</div>

<div class="form-horizontal" >
@using (Html.BeginForm())
{
    <div class="form-group col-sm-6 col-md-6 ">
        @Html.TextBox("SearchString", null, new { placeholder = " Enter name..." })
        <button type="submit" value="Search" class=" glyphicon glyphicon-search btn-sm btn-default"></button>
    </div>
}
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("First name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.CompanyNameSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotificationType)
                </th>
                <th>
                    @Html.ActionLink("Create New", "Create")
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr class="searchRow">
                <td  onclick="document.location='@(Url.Action("Details", new { id = item.ContactID }))'">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td onclick="document.location='@(Url.Action("Details", new { id = item.ContactID }))'">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td onclick="document.location='@(Url.Action("Details", new { id = item.ContactID }))'">
                    @Html.DisplayFor(modelItem => item.Business)
                </td>
                <td onclick="document.location='@(Url.Action("Details", new { id = item.ContactID }))'">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td onclick="document.location='@(Url.Action("Details", new { id = item.ContactID }))'">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td onclick="document.location='@(Url.Action("Details", new { id = item.ContactID }))'">
                    @{
                        string NotificationTypeName;
                    }

                    @switch (item.NotificationType)
                     {
                    case 1:
                        NotificationTypeName = "Email";
                        break;
                    case 2:
                        NotificationTypeName = "Sms";
                        break;
                    case 3:
                        NotificationTypeName = "Email & Sms";
                        break;
                    default:
                        NotificationTypeName = "-";
                        break;
                     }

                    @NotificationTypeName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ContactID }) |
                    <div id="ContactDeleteBtn" >
                        @using (Html.BeginForm("DeleteContact", "Contact", new { id = item.ContactID }))
                        {
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal"
                                    data-whatever="@item.ContactID">
                                Delete
                            </button>
                    <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Confirm Delete </h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete: <span><b>@item.FirstName  @item.LastName</b> ?</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </td>
            </tr>
         }
    </table>

</div>
